.inbox_item_new {
  padding: 0.5em;

  button.full-list {
    float: right;
  }
}

.inbox-item {
  margin-top: 2em;

  button,
  input,
  textarea {
    width: 100%;
  }

  input,
  textarea {
    margin-bottom: 1.25em;
  }

  textarea {
    resize: vertical;
  }
}
